body {
   font-family: sans-serif;
   size: 12px;
   background: #fffeee;
}

.container {
   margin-left: auto;
   margin-right: auto;
   width: 300px;
}

#results {
   width: 100%;
   background: lightblue;
   border: gray 1px solid;
   border-radius: 6px;
}

#results thead {
   font-weight: bold;
}
